body{
	background-color: #e8e8e8;
}
div#titulo{
	width: 100%;
	height: 100px;
	margin-top: 50px;
}
p#header{
	text-align: center;
	font-size: 1.4em;
	color: black;
	background-color: transparent;
	font-family: Arial;
}
img#imagen1{
	float: left;
	width: 160px;
	height: 70px;
	margin-right: 50px;
	margin-top: -55px;
	background-color: transparent;
}
img#imagen2{
	float: right;
	width: 160px;
	height: 70px;
	margin-right: 50px;
	margin-top: -55px;
	background-color: transparent;
}
.zoom{
	transition: width 1.1s, height 1.1s, transform 1.1s;
	-moz-transition: width 1.1s, height 1.1s, -moz-transform 1.1s;
	-webkit-transition: width 1.1s, height 1.1s, -webkit-transform 1.1s;
	-o-transition:width 1.1s, height 1.1s, -o-transform 1.1s;
}
.zoom:hover{
	transform: scale(2);
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
}
#menu{
	background-color: white
	width: 1324;
	margin-left: 226px;
}	
#menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#menu ul li{
	background-color: #FCF3CF;
	width: 215px;
	display: inline-block;
}
#menu ul li a{
	text-align: center;
	text-decoration: none;
	padding: 25px;
	display: block;
	color: orange;
}
#menu ul li a:hover{
	background-color: #34495E;
}
#lado{
	font-family: Arial;
	line-height: 22px;
	padding-top: 25px;
	color: orange;
	padding-left: 20px;
	margin-left: -18px;
	float: left;
	height: 867px;
	width: 220px;
	background-color: black;
	margin-top: -68px;	
}
a{
	text-decoration: none;
	color: red;
}
#redes{
	line-height: 14px;
}
#enfermeria{
	font-family: Arial Rounded MT Bold;
	text-align: justify;
	text-align: left;
	font-size: 12.5;
	font-family: Arial;
	padding-top: 20px;
	padding-left: 250px;
	height: 300px;
	background-color:#98FF98;
}
img{
	width: 280px;
	height: 170px;
	float: right;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 3px;
}
#video{
	font-family: Arial;
	font-size: 15px;
	margin-top: -19px;
	text-align: center;
	height: 412px;
	background-color: #6FF1F3;
}
#abajo{
	font-family: Consolas;
	padding-left: 410px;
	padding-top: 20px;
	height: 75px;
	background-color: #1ABC9C;
}
#correo{
	font-family: Consolas;
	color:#E67E22; 
	background-color:transparent;
	text-decoration: none;

}
#descarga{
	margin-left: 298px;
	margin-top: 85px;
	margin-right: 598px;
}
#descargar{
	margin-left: 130px;
	float: left;
	height: 80px;
	width:170px;
}
iframe{
	margin-top: 55px;
	margin-right: 80px;
	float: right;
	height: 280px;
	width:450px;
}
